<div class="screen active static">
  <nav>
    <ul>
      <li class="screen1 active">
        <a href="#"><p class="right">posts</p></a>
      </li>
    </ul>
  </nav>
  <header>
    <h1>Michael Phillips</h1>
    <p>Hi, there.  This is the site of Michael Phillips, web developer extraordinaire</p>
  </header>
</div>

<div class="screen screen1">
  <nav>
    <ul>
      <li class="screen2">
        <a href="#"><p class="left">home</p></a>
        <a href="#"><p class="right">links</p></a>
      </li>
    </ul>
  </nav>  
  <h1>Posts</h1>
  <a href="/posts"><p>Click here for blog posts</p></a>
</div>

<div class="screen screen2">
  <nav>
    <ul>
      <li class="screen2">
        <a href="#"><p class="left">posts</p></a>
      </li>
    </ul>
  </nav>
  <h1>Links</h1>
  <p>hello, there</p>
</div>

