<div class="footer">
	<h1>Michael Phillips</h1>
	<p>Hi, there.  This is the site of Michael Phillips, web developer extraordinaire</p>
</div>

<a href="/posts"><p>Click here for blog posts</p></a>

<script>
	$.anystretch("images/hero.jpg", {speed: 300, positionY: "top"});
</script>